/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}
body {
	font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
	color: #525252;
	margin: 0;
	font: 125%/1.5 Baskerville,'Lucida Bright',Perpetua,Times,'Times New Roman',Palatino,Bookman,'New Century Schoolbook',serif;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
p {
	font-size: 1em;
	margin-top: 0;
	margin-bottom: 1.5em;
}
h3,
a {
	color: #0077b6; /* #3079AB */
}
h3 {
	line-height: 1.25;
}
a {
	text-decoration: none;
}
img {
	width: 100%;
}
.row a {
	font-weight: 600;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Layout Containers ---- */

.banner,
.main-footer {
	text-align: center;
}
.banner {
	color: #fff;
	background: linear-gradient(180deg, rgba(6, 34, 50, 0.4), rgba(3, 26, 33, 1)), 
	url('../img/banner-bg.jpg');

	background-size: cover;
	padding: 3em 0 2.5em 0;
	margin-bottom: 3em;
}
.item {
	border-radius: 4px;
	border: solid 2px rgba(0, 119, 182, 0.15);
	margin: 0 0.5em 1em;
	flex-basis: 250px;
}
.item a {
	display: block;
	padding: 0.85em;
}
.main-footer {
	font-size: 0.9em;
	background: rgba(217,228,234,.35);
	padding: 2em 0;
	margin-top: 3em;
}

/* ---- Page Elements ---- */

.photo {
	width: 185px;
	border-radius: 50%;
	border: solid 3px rgba(255,255,255, 0.85);
}
.headline {
	margin: .35em 0 0;
	line-height: 1.35;
}
.intro {
	font-size: 1.1em;
	padding-bottom: 1.5em;
	margin: 2em auto;
}
.intro,
.row {
	padding-left: 1em;
	padding-right: 1em;
}
.social li {
	font-size: 1.55em;
	margin: 0 0.5em;
}
.social a {
	color: inherit;
}
.title {
	font-size: 1.75em;
	text-align: center;
	margin: 1.25em 0 0.5em;
}

/* ================================= 
  Media Queries
==================================== */
@media (min-width: 0) and (max-width: 768px) {
	.social.fc {
		display: flex;
		justify-content: center;
	}	
}

@media (min-width: 769px) {
	body {
		font-size: 140%;
	}
	.row {
		width: 80%;
		max-width: 880px;
		margin: 0 auto;
	}
	.intro {
		width: 90%;
	}
	.headline {
		font-size: 2.65em;
	}
	.tagline {
		font-size: 1.55em;
	}
	.fc {
		display: flex;
		justify-content: center;
	}
}

@media (min-width: 1025px) {
	.intro {
		width: 60%;
	}
}

